html{
  font-family: 'Merriweather', serif;
}

header{
  display: flex;
}

body{
  background-color: #72B6D8;
}

.tac{
  text-align: center;
}

.heading{
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
}

.heading ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    line-height: 115px;
}

ul{
  list-style-type: none;
}

.content-width {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    z-index: 0;
}



.nav ul li{
  display: inline;
}

.heading ul li,
.heading ul li a {
    display: inline-block;
    height: 115px;
    line-height: 115px;
    box-sizing: border-box;
}

.heading ul li a {
    color: #246B8E;
    text-decoration: none;
    padding: 0 16px;
    border-bottom: 5px solid transparent;
    transition: 0.1s;
}

.heading ul li a:hover,
.heading ul li a.active {
    border-color: #f5f5f5;
    transition: 0.1s;
}

.atlas{
  color: #99D1EC;
  font-size: 60px;
  -webkit-text-stroke: 2px #246B8E;
  margin-left: 40px;
  margin-top: 35px;
  flex: 1;
}

.nav{
  margin-right: 35px;
  margin-top: 40px;
}


.nav-item--cell{
  margin-left: 10px;
  margin-right: 10px;
}

#headerMain {
  width:920px;
  height: 195px;
  margin:0px auto;
  z-index:0;
}

#header {
  width:920px;
  height: 195px;
  background: url(../img/bg-header.jpg) no-repeat;
  position: fixed;
  z-index: 9999;
}

.logo{
   -webkit-align-content: center;
  display: flex;
  position: absolute;
  align-items: center;
}

.logo,.logo-img{
  align-items: center;
  width: 500px;
  height: 469px;
  background-size: cover;
  background: url("./../img/Atlas.png") ;
}
